.main-tables-container {
    display: flex;
    width: 930 px;
    margin: 0 auto;
}


.product-cards--container {
    display:flex;
    flex-wrap: wrap;
    width: 930px;   /*donde estamos buscando el cambio*/
    margin: 0 auto;
}

.plans-container--slider {    
    justify-content: center;   /*a partir de los 930px se empiezan a centrar las tarjetas*/
    overflow-x: hidden;         /*para quitar el scroll horizontal una vez la pantalla sea grande*/
}

.main-tables-container {      
    overflow-x: hidden;         /*para quitar el scroll horizontal una vez la pantalla sea grande*/
}